body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.tori {
  width: 200%;
  max-width: 1300px;
  margin: auto;
  padding: 30px;
  gap: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tori-search,
.tori-options {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.tori-search {
  margin-bottom: 20px;
}

.tori-search input[type="text"],
.tori-search select {
  padding: 10px;
  margin: 0 1px;
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: white;
}

.tori-search input[type="text"] {
  flex: 1;
  max-width: 300px;
}

.tori-search select[name="what"] {
  width: 280px;
}

.tori-search select[name="where"] {
  width: 160px;
}

.tori-options label {
  display: flex;
  align-items: center;
  margin: 0;
}

.tori-options input[type="checkbox"] {
  accent-color: #e9e9e9;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.tori-options input[type="checkbox"]:checked {
  box-shadow: 0 0 0 1.4px #cdcdcd;
}

.tori-options button {
  padding: 10px 20px;
  background-color: #0a66c7;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.search-save-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.save-search {
  margin-right: 20px;
  color: #0a66c7;
  cursor: pointer;
  user-select: none;
  font-weight: 700;
}